<h1 id="vending-head2">What kinds of snacks are in the machine?</h1>
<div id="vending-text">
<% @kinds.each do |kind| %>
<ul>
  <li><%= kind.snack_type %></li>
</ul>
<% end %>
<%= link_to 'Back', vendings_path %>
</div>
